body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.colred1 {
  background-color: #081624;
  padding:0;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.text1.color-redish {
  font-size: 100px;
  font-weight: bolder;
  letter-spacing: 0;
  margin-bottom: 30px;
}
.text2 {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0;

}
.textwear {
  font-weight: bolder;
  letter-spacing: 0;
}
.boxmar {
  margin-bottom: 40px;
  
}
.boxin {
  background-color: #f4f4f4;
  padding: 50px 0 !important;
}
.boxmar1 {
  margin-bottom: 150px;
}
.boxmar2 {
  margin-bottom: 100px;
}
.textmar {
  line-height: 1;
  letter-spacing: 0;
  padding: 0;
}
.text3 {
  margin-top: 25px;
}
thead { background-color: #8d1822;}
table { border: 2px solid #8d1822;
      border-radius: 20px;}
.butt1 {
  color: white;
  background-color: #8d1822;
  border-radius: 8px;
}
.thcol {
  color:white;
  font-size: 15px;
  letter-spacing: 0;
}
.color-redish {
  font-size: 15px;
  letter-spacing: 0;
}
.facol {
  font-size: 20px;
  color:black;
}
.naapt3 {
  font-size: 70px;
  font-weight: bold;
  background-color: #8d1822;
  color:white;
  padding:20px;
  letter-spacing: 0;
}
.naapt31 {
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 0;
}
hr.new4 {
  border: 1px solid #8d1822;
}
.wmar2 {
  margin-bottom: 100px;
  margin-top: 100px;
}
.textl1 {
    font-size: 30px;
    letter-spacing: 0;
    margin-bottom: 20px;
    
}
.textc1 {
  font-size: 15px;
  text-align: justify;
  margin-bottom: 20px;
  line-height:2;
}
.textar {
  border-radius: 5px;
  border: 1px solid #8d1822;
  margin-left: 10px;
  margin-bottom: 60px;
}
  .textal1 {
        text-align: center;
        line-height: 3;
        padding-top: 100px;
        padding-bottom: 100px;
    }
.textar1 {
  font-size: 20px;
  letter-spacing: 0;
  margin-top: 6px;
  margin-bottom: 5px;
  margin-left: 10px;
}
.textal {
  text-align: center;
  line-height: 3;
  padding-top: 100px;
  padding-bottom: 100px;
}
.fa-facebook{
  background-color: transparent;
  color:#8d1822;

}
.colred {
  background-color: #081624;
  padding:0;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.cona {
    max-width: 1100px;
    margin: 0px auto;
    border-radius: 25px;
    box-shadow: 1px 5px 8px rgb(0 0 0 / 28%);
    

}
.sip {
  margin-top:125px;
}
.signcol {
  color: #081624;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
 
}
.colh {
  color:white;
  margin-bottom:50px;
  font-size: 50px;
}
.textsg {
  font-size:18px;
  padding-left:50px;
  padding-right:50px;
}
.sbtn {
  color:white;
  border: 1px solid white;
  border-radius:10px;
  width:150px;
  margin-bottom: 100px;
}
.fai {
  width: 32px;
    height: 32px;
    display: flex;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 10px;
    border-radius:5px;
    color:#081624 !important;
    background-color: white;

}
::placeholder {
  color: #081624;
}
.setd {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.texte {
  font-size: 18px;
  letter-spacing: 0;
  color: #8b8b8b;
  margin-bottom: 20px;
}
.textb {
  font-size: 15px;
  letter-spacing: 0;
  color: #8b8b8b;
}
.fbtn {
  width:150px;
  background-color: #081624;
  color:white;
  font-weight: bold;
  border-radius:10px;
  border:0;
  text-align: center;
}
.em {
  width: 230px;
  background-color: #e4e4e4;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  border: 0;
  color: #081624 !important;
  margin-bottom: 20px;

}
.itemCardImageDiv img {
  border-radius: 5px;
transform: translateZ(0);
transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
  width: 100%;
}
.itemCardImageDiv:hover img {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  transform: scale(1.15);
}
@media only screen and (max-width: 768px) {
  .text1.color-redish {
     
      font-size: 50px;
      font-weight: bolder;
      letter-spacing: 0;
  }
  .text2 {
      font-size: 25px;
      font-weight: bold;
      letter-spacing: 0;
  
  }
  .img1 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;;
  }
  .naapt3 {
      font-size: 40px;
      font-weight: bold;
      background-color: #8d1822;
      color:white;
      padding:20px;
      letter-spacing: 0;
  }
  .naapt31 {
      font-weight: bold;
      font-size: 25px;
      letter-spacing: 0;
  }
 
}
